h1,h2,h3,h4,h5,h6 {
	font-weight:100
}
h1 {
	font-size:30px
}
h2 {
	font-size:24px
}
h3 {
	font-size:16px
}
h4 {
	font-size:14px
}
h5 {
	font-size:12px
}
h6 {
	font-size:10px
}
h3,h4,h5 {
	margin-top:5px;
	font-weight:600
}
a:focus {
	outline:0
}
.ui-sortable .ibox-title {
	cursor:move
}
.ui-sortable-placeholder {
	border:1px dashed #cecece!important;
	visibility:visible!important;
	background:#e7eaec
}
.ibox.ui-sortable-placeholder {
	margin:0 0 23px!important
}
.ibox-content h1,.ibox-content h2,.ibox-content h3,.ibox-content h4,.ibox-content h5,.ibox-title h1,.ibox-title h2,.ibox-title h3,.ibox-title h4,.ibox-title h5 {
	margin-top:5px
}
.ibox-content.text-box {
	padding-bottom:0;
	padding-top:15px
}
.ibox {
	clear:both;
	margin-bottom:25px;
	margin-top:0;
	padding:0
}
.ibox.collapsed .ibox-content {
	display:none
}
.ibox.collapsed .fa.fa-chevron-up:before {
	content:"\f078"
}
.ibox.collapsed .fa.fa-chevron-down:before {
	content:"\f077"
}
.ibox:after,.ibox:before {
	display:table
}
.ibox-title {
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-right-colors:none;
	-moz-border-top-colors:none;
	background-color:#fff;
	border-color:#e7eaec;
	-webkit-border-image:none;
	-o-border-image:none;
	border-image:none;
	border-style:solid solid none;
	border-width:4px 0 0;
	color:inherit;
	margin-bottom:0;
	padding:14px 15px 7px;
	min-height:48px
}
.ibox-content {
	background-color:#fff;
	color:inherit;
	padding:15px 20px 20px;
	border-color:#e7eaec;
	-webkit-border-image:none;
	-o-border-image:none;
	border-image:none;
	border-style:solid solid none;
	border-width:1px 0
}
.ibox-content {
	clear:both
}
.ibox-heading {
	background-color:#f3f6fb;
	border-bottom:none
}
.ibox-heading h3 {
	font-weight:200;
	font-size:24px
}
.ibox-title h5 {
	display:inline-block;
	font-size:14px;
	margin:0 0 7px;
	padding:0;
	text-overflow:ellipsis;
	float:left
}
.ibox-title .label {
	float:left;
	margin-left:4px
}
.ibox-tools {
	display:inline-block;
	float:right;
	margin-top:0;
	position:relative;
	padding:0
}
.ibox-tools a {
	cursor:pointer;
	margin-left:5px;
	color:#c4c4c4
}
.ibox-tools a.btn-primary {
	color:#fff
}
.ibox-tools .dropdown-menu>li>a {
	padding:4px 10px;
	font-size:12px
}
.ibox .open>.dropdown-menu {
	left:auto;
	right:0
}
.text-navy {
	color:#1ab394
}
.text-primary {
	color:inherit
}
.text-success {
	color:#1c84c6
}
.text-info {
	color:#23c6c8
}
.text-warning {
	color:#f8ac59
}
.text-danger {
	color:#ed5565
}
.text-muted {
	color:#888
}
.ibox-tools {
	float:none;
	text-align:right;
	display:block
}
.ibox-tools {
	float:none;
	text-align:left;
	display:inline-block
}
}.ui-jqgrid-titlebar {
	height:40px;
	line-height:24px;
	color:#676a6c;
	background-color:#F9F9F9;
	text-shadow:0 1px 0 rgba(255,255,255,.5)
}
.ui-jqgrid .ui-jqgrid-title {
	float:left;
	margin-left:5px;
	font-weight:700
}
.ui-jqgrid .ui-jqgrid-titlebar {
	position:relative;
	border-left:0 solid;
	border-right:0 solid;
	border-top:0 solid
}
.table-bordered {
	border:1px solid #EBEBEB
}
.table-bordered>thead>tr>td,.table-bordered>thead>tr>th {
	background-color:#F5F5F6
}
.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th {
	border:1px solid #e7e7e7
}
.table>thead>tr>th {
	border-bottom:1px solid #DDD
}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th {
	border-top:1px solid #e7eaec;
	line-height:1.42857;
	padding:8px;
	vertical-align:middle
}
.bs-glyphicons {
	margin:0 -10px 20px;
	overflow:hidden
}
.bs-glyphicons-list {
	padding-left:0;
	list-style:none
}
.bs-glyphicons li {
	float:left;
	width:25%;
	height:115px;
	padding:10px;
	font-size:10px;
	line-height:1.4;
	text-align:center;
	background-color:#f9f9f9;
	border:1px solid #fff
}
.bs-gly.ibox-content h1,.ibox-content h2,.ibox-content h3,.ibox-content h4,.ibox-content h5,.ibox-title h1,.ibox-title h2,.ibox-title h3,.ibox-title h4,.ibox-title h5 {
	margin-top:5px
}
.roll-right.J_tabRight {
	right:140px
}
.roll-right.btn-group {
	right:60px;
	width:80px;
	padding:0
}
.roll-right.btn-group button {
	width:80px
}
.roll-right.J_tabExit {
	background:#fff;
	height:40px;
	width:60px;
	outline:0
}
.ui-tab .tab-content {
	padding:20px 0
}
.no-padding {
	padding:0!important
}
.no-borders {
	border:none!important
}
.no-margins {
	margin:0!important
}
.no-top-border {
	border-top:0!important
}
.ibox-content.text-box {
	padding-bottom:0;
	padding-top:15px
}
.page-header {
	padding:20px 0 9px;
	margin:0 0 20px;
	border-bottom:1px solid #eee
}
.ui-draggable .ibox-title {
	cursor:move
}
.ibox {
	clear:both;
	margin-bottom:25px;
	margin-top:0;
	padding:0
}
.ibox.collapsed .ibox-content {
	display:none
}
.ibox.collapsed .fa.fa-chevron-up:before {
	content:"\f078"
}
.ibox.collapsed .fa.fa-chevron-down:before {
	content:"\f077"
}
.ibox:after,.ibox:before {
	display:table
}
.ibox-title {
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-right-colors:none;
	-moz-border-top-colors:none;
	background-color:#fff;
	border-color:#e7eaec;
	-webkit-border-image:none;
	-o-border-image:none;
	border-image:none;
	border-style:solid solid none;
	border-width:4px 0 0;
	color:inherit;
	margin-bottom:0;
	padding:14px 15px 7px;
	min-height:48px
}
.ibox-content {
	background-color:#fff;
	color:inherit;
	padding:15px 20px 20px;
	border-color:#e7eaec;
	-webkit-border-image:none;
	-o-border-image:none;
	border-image:none;
	border-style:solid solid none;
	border-width:1px 0
}
.ibox-content {
	clear:both
}
.ibox-heading {
	background-color:#f3f6fb;
	border-bottom:none
}
.ibox-heading h3 {
	font-weight:200;
	font-size:24px
}
.ibox-title h5 {
	display:inline-block;
	font-size:14px;
	margin:0 0 7px;
	padding:0;
	text-overflow:ellipsis;
	float:left
}
.ibox-title .label {
	float:left;
	margin-left:4px
}
.ibox-tools {
	display:inline-block;
	float:right;
	margin-top:0;
	position:relative;
	padding:0
}
.ibox-tools a {
	cursor:pointer;
	margin-left:5px;
	color:#c4c4c4
}
.ibox-tools a.btn-primary {
	color:#fff
}
.ibox-tools .dropdown-menu>li>a {
	padding:4px 10px;
	font-size:12px
}
.ibox .open>.dropdown-menu {
	left:auto;
	right:0
}
.gray-bg {
	background-color:#f3f3f4
}
.white-bg {
	background-color:#fff
}
.navy-bg {
	background-color:#1ab394;
	color:#fff
}
.blue-bg {
	background-color:#1c84c6;
	color:#fff
}
.lazur-bg {
	background-color:#23c6c8;
	color:#fff
}
.yellow-bg {
	background-color:#f8ac59;
	color:#fff
}
.red-bg {
	background-color:#ed5565;
	color:#fff
}
.black-bg {
	background-color:#262626
}
.text-navy {
	color:#1ab394
}
.text-primary {
	color:inherit
}
.text-success {
	color:#1c84c6
}
.text-info {
	color:#23c6c8
}
.text-warning {
	color:#f8ac59
}
.text-danger {
	color:#ed5565
}
.text-muted {
	color:#888
}
.feed-activity-list .feed-element {
	border-bottom:1px solid #e7eaec
}
.feed-element:first-child {
	margin-top:0
}
.feed-element {
	padding-bottom:15px
}
.feed-element,.feed-element .media {
	margin-top:15px
}
.feed-element,.media-body {
	overflow:hidden
}
.feed-element>.pull-left {
	margin-right:10px
}
.dropdown-messages-box img.img-circle,.feed-element img.img-circle {
	width:38px;
	height:38px
}
.feed-element .well {
	border:1px solid #e7eaec;
	box-shadow:none;
	margin-top:10px;
	margin-bottom:5px;
	padding:10px 20px;
	font-size:11px;
	line-height:16px
}
.feed-element .actions {
	margin-top:10px
}
.feed-element .photos {
	margin:10px 0
}
.feed-photo {
	max-height:180px;
	border-radius:4px;
	overflow:hidden;
	margin-right:10px;
	margin-bottom:10px
}
.ibox-tools {
	float:none;
	text-align:right;
	display:block
}
.ibox-tools {
	float:none;
	text-align:left;
	display:inline-block
}
}.ui-jqgrid-titlebar {
	height:40px;
	line-height:24px;
	color:#676a6c;
	background-color:#F9F9F9;
	text-shadow:0 1px 0 rgba(255,255,255,.5)
}
.ui-jqgrid .ui-jqgrid-title {
	float:left;
	margin-left:5px;
	font-weight:700
}
.ui-jqgrid .ui-jqgrid-titlebar {
	position:relative;
	border-left:0 solid;
	border-right:0 solid;
	border-top:0 solid
}